version: 2.1
executors:
  docker-oe:
    docker:
      - image: tprrt/debian-oe:latest
    resource_class: large
commands:
  oe_fetch:
    parameters:
      manifest:
        default: "invalid.xml"
        type: string
    steps:
      - run:
          name: Configure Git
          command: |
            git config --global user.email ${CIRCLE_GIT_EMAIL}
            git config --global user.name ${CIRCLE_GIT_NAME}
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Setup the build environment
          command: |
            echo 'export PATH="${PATH}:/home/devuser/.local/bin"' >> $BASH_ENV
            source $BASH_ENV
            mkdir dist
            cd dist
            echo "Using manifest: << parameters.manifest >>"
            repo init -u git@github.com:tprrt/manifests.git -b $CIRCLE_BRANCH -m << parameters.manifest >>
            repo sync -j4
            repo manifest -r -o manifest.xml
      - store_artifacts:
          path: ./dist/manifest.xml
      - persist_to_workspace:
          root: .
          paths:
            - dist
            - .gitconfig
            - .ssh
  oe_build:
    parameters:
      manifest:
        default: "invalid.xml"
        type: string
    steps:
      - attach_workspace:
          at: .
      - restore_cache:
          keys:
            - sstate-cache-{{ .Branch }}-<< parameters.manifest >>
            - sstate-cache-{{ .Branch }}-
            - sstate-cache-
      - run:
          name: Build the image
          no_output_timeout: 300m
          command: |
            cd dist
            source ./layers/oe-init-build-env
            bitbake core-image-minimal
      - save_cache:
          key: sstate-cache-{{ .Branch }}-<< parameters.manifest >>
          paths:
            - dist/build/sstate-cache
            - dist/build/downloads
      - store_artifacts:
          path: ./dist/tmp/deploy
jobs:
  fetch:
    executor:
      name: docker-oe
    parameters:
      repo_manifest:
        type: string
    steps:
      - oe_fetch:
          manifest: << parameters.repo_manifest >>
  build:
    executor:
      name: docker-oe
    parameters:
      repo_manifest:
        type: string
    steps:
      - oe_build:
          manifest: << parameters.repo_manifest >>
workflows:
  version: 2
  master-fetch-build:
    jobs:
      - fetch:
          repo_manifest: "nodistro/branch/master.xml"
          filters:
            branches:
              ignore:
                - gh-pages
      # - build:
      #     repo_manifest: "nodistro/branch/master.xml"
      #     filters:
      #       branches:
      #         ignore:
      #           - gh-pages
      #     requires:
      #       - fetch
  kirkstone-fetch-build:
    jobs:
      - fetch:
          repo_manifest: "nodistro/branch/kirkstone.xml"
          filters:
            branches:
              ignore:
                - gh-pages
      # - build:
      #     repo_manifest: "nodistro/branch/kirkstone.xml"
      #     filters:
      #       branches:
      #         ignore:
      #           - gh-pages
      #     requires:
      #       - fetch
  scarthgap-fetch-build:
    jobs:
      - fetch:
          repo_manifest: "nodistro/branch/scarthgap.xml"
          filters:
            branches:
              ignore:
                - gh-pages
      # - build:
      #     repo_manifest: "nodistro/branch/scarthgap.xml"
      #     filters:
      #       branches:
      #         ignore:
      #           - gh-pages
      #     requires:
      #       - fetch
  master-weekly:
    triggers:
      - schedule:
          cron: "0 0 * * 0"
          filters:
            branches:
              only:
                - master
    jobs:
      - fetch:
          repo_manifest: "nodistro/branch/master.xml"
          filters:
            branches:
              ignore:
                - gh-pages
      # - build:
      #     repo_manifest: "nodistro/branch/master.xml"
      #     filters:
      #       branches:
      #         ignore:
      #           - gh-pages
      #     requires:
      #       - fetch
  kirkstone-weekly:
    triggers:
      - schedule:
          cron: "0 0 * * 0"
          filters:
            branches:
              only:
                - kirkstone
    jobs:
      - fetch:
          repo_manifest: "nodistro/branch/kirkstone.xml"
          filters:
            branches:
              ignore:
                - gh-pages
      # - build:
      #     repo_manifest: "nodistro/branch/kirkstone.xml"
      #     filters:
      #       branches:
      #         ignore:
      #           - gh-pages
      #     requires:
      #       - fetch
  scarthgap-weekly:
    triggers:
      - schedule:
          cron: "0 0 * * 0"
          filters:
            branches:
              only:
                - scarthgap
    jobs:
      - fetch:
          repo_manifest: "nodistro/branch/scarthgap.xml"
          filters:
            branches:
              ignore:
                - gh-pages
      # - build:
      #     repo_manifest: "nodistro/branch/scarthgap.xml"
      #     filters:
      #       branches:
      #         ignore:
      #           - gh-pages
      #     requires:
      #       - fetch
